# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem

# Debug
.vscode/
.idea/

# Prisma
*.db
*.db-journal

# Misc
.cache/
.temp/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.wsuo
DocumentLayout*.json
VSWorkspaceState.json

# Local workspace db files (VS/VS Code extensions sometimes create these)
*.sqlite
*.sqlite-journal

